.ui-datepicker-wrapper {
  font-family: 'Microsoft YaHei';
  background: #fff;
  position: absolute;
  z-index: 10;
  width: 300px;
  font-size: 16px;
  color: #666;
  box-shadow: 1px 1px 3px 1px #d1e5f9;
  height: 0;
  opacity: 0;
  transition: all .4s;
  overflow: hidden;
  border-radius: 8px;
}

.ui-datepicker-wrapper.active {
  height: 359px;
  opacity: 1;
}

.ui-datepicker-wrapper .ui-datepicker-header {
  text-align: center;
  background: #409eff;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  vertical-align: middle;
  height: 50px;
  position: relative;
}

.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-curr-month {
  line-height: 50px;
  height: 50px;
  font-weight: bold;
  display: inline-block;
  color: #fff;
}

.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-btn {
  position: absolute;
  top: 15px;
  box-sizing: border-box;
  font-size: 12px;
  color: #fff;
  text-align: center;
  width: 35px;
  line-height: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
}

.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-btn.ui-datepicker-prev-year-btn {
  left: 10px;
}

.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-btn.ui-datepicker-prev-month-btn {
  left: 55px;
}

.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-btn.ui-datepicker-next-year-btn {
  right: 10px;
}

.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-btn.ui-datepicker-next-month-btn {
  right: 55px;
}

.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-btn:hover {
  background: #350fb9;
  color: #fff;
}

.ui-datepicker-wrapper .ui-datepicker-body {
  display: flex;
  flex-wrap: wrap;
}

.ui-datepicker-wrapper .ui-datepicker-body .ui-datepicker-date {
  width: 14%;
  box-sizing: border-box;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  font-size: 10px;
  width: 14.28%;
  cursor: pointer;
  height: 43px;
  line-height: 43px;
  text-align: center;
  position: relative;
}

.ui-datepicker-wrapper .ui-datepicker-body .ui-datepicker-date.not-this-month {
  color: #e8d6d6;
}

.ui-datepicker-wrapper .ui-datepicker-body .ui-datepicker-date:hover {
  background-color: #f0f0f0;
}

.ui-datepicker-wrapper .ui-datepicker-body .ui-datepicker-date span {
  display: inline-block;
  color: white;
  width: 25px;
  line-height: 25px;
  height: 25px;
  border-radius: 50%;
}

.ui-datepicker-wrapper .ui-datepicker-body .ui-datepicker-date span.today {
  background: #f9624a;
}

.ui-datepicker-wrapper .ui-datepicker-body .ui-datepicker-date span.special {
  background: #409eff;
}

.ui-datepicker-wrapper .ui-datepicker-body .ui-datepicker-th {
  border-bottom: 1px solid #f0f0f0;
  width: 14.28%;
  font-size: 12px;
  line-height: 50px;
  height: 50px;
  text-align: center;
}
